<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet"href="styles.css"media="screen"> -->
  </head>
  <body>
    <div id="my_dataviz"></div>

    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v2.js?2.8.1"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Load color scale -->
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <!-- Load our .js script -->
    <script src="../static/js/motion.js"></script>
    

  </body>
</html>

<!-- A bit of CSS: change stroke color of circle on hover (white -> black) -->
<style>
.bubbles {
  stroke-width: 1px;
  stroke: rgb(13, 252, 180);
  opacity: .8
}
.bubbles:hover {
  stroke: rgb(238, 65, 180);
}
</style> 
